Часть 1: Введение в Pandas

Установка Pandas

In [ ]:
!pip install pandas

Импорт библиотеки

In [2]:
import pandas as pd

Часть 2: Работа с данными

Чтение данных

In [3]:
df = pd.read_csv('titanic.csv')

Предпросмотр данных

In [ ]:
print(df.head())

Информация о данных

In [ ]:
print(df.info())

Работа с NaN

In [ ]:
print(df.isna().sum())

Заполнение NaN

In [7]:
df_filled = df.fillna(0)

Удаление строк с NaN

In [8]:
df_no_nan = df.dropna()

Часть 3: Обработка DataFrame

Выбор данных

In [9]:
age_column = df['Age']

In [10]:
selected_columns = df[['Age', 'Fare']]

In [11]:
first_row = df.loc[0]

In [12]:
males_over_30 = df[(df['Age'] > 30) & (df['Sex'] == 'male')]

Сортировка данных

In [13]:
sorted_by_fare = df.sort_values(by='Fare', ascending=False)

Группировка данных

In [ ]:
survival_rate_by_class = df.groupby('Pclass')['Survived'].mean()
print(survival_rate_by_class)

Часть 4: Задания для практики

In [15]:
df = pd.read_csv('titanic.csv')

In [ ]:
df_filled = df.fillna(0)
print(df_filled.isna().sum())

In [ ]:
print(df_filled.head(10))

In [ ]:
age_over_30 = df_filled[df_filled['Age'] > 30]
print(age_over_30)

In [ ]:
sorted_by_fare = df_filled.sort_values(by='Fare', ascending=False)
print(sorted_by_fare.head())

In [ ]:
avg_age_by_class = df_filled.groupby('Pclass')['Age'].mean()
print(avg_age_by_class)